body{
    margin-top:70px;
    background-color: #333;
    color: white;
    background: linear-gradient(45deg, #9682C8 10%, #05BCC9);
  }

  #start_date{
      text-align: center;
  }

  #startDate{
    background-color: gray;
    display: none;
  }

  #freedomDate{
    border-radius: 7px;
  }

  #plus-sign{
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
  }

  .minus-sign{
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
  }

  #amountAndInterest1, #amountAndInterest2, #amountAndInterest3{
    border: 3px dotted #ffc107;
  }

  #Debt2, #rate2{
    background-color: antiquewhite;
  }

  #Debt3, #rate3{
    background-color: beige;
  }

  #Debt4, #rate4{
    background-color: bisque;
  }

  #output{
    background: rgba(0, 0, 0, 0.2);
  }

  #needPay{
    color: #101A2B;
    /* ffc107 */
  }

  span{
    display: flex;
    justify-content: space-between;
  }

  #totTime1{
    background: rgba(0, 0, 0, 0.2);
    width: 33%;
  }

  #totTime2{
    background: rgba(0, 0, 0, 0.2);
    width: 33%;
  }

  #totTime3{
    background: rgba(0, 0, 0, 0.2);
    width: 33%;
  }
  .form-control {
  display: inline-block;
  width: 90%;
  }

