body{
    margin-top:70px;
    color: white;
    background: linear-gradient(45deg, #9682C8 10%, #05BCC9);
  }

  #start_date{
    text-align: center;
  }

  #startDate{
    background-color: gray;
    display: none;
  }

  #freedom_date{
    text-align: center;
  }

  #freedomDate{
    border-radius: .3rem;
    border: 5px solid #ffc107;
  }

  #plus-sign{
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
    z-index: 3;
  }

  .minus-sign{
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
  }

  #amountAndInterest0{
    align-content: space-around;
  }

  #amountAndInterest1, #amountAndInterest2, #amountAndInterest3{
    border: 3px dotted #ffc107;
    border-radius: .3rem;
  }

  #needPay{
    color: #101A2B;
    /* ffc107 */
  }

  span{
    display: flex;
    justify-content: space-between;
  }

  #totTime1{
    background: rgba(0, 0, 0, 0.2);
    width: 33%;
  }

  #totTime2{
    background: rgba(0, 0, 0, 0.2);
    width: 33%;
  }

  #totTime3{
    background: rgba(0, 0, 0, 0.2);
    width: 33%;
  }
  .form-control {
    display: inline-block;
    width: 100%;
  }

  #donate{
    text-align: center;
    margin: 2em;
  }

.trigger {
  border-radius: .3rem;
  background-color: #9682C8;
}

.trigger:hover {
  background-color: #ffc107;
}
  
.modalz {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modalContent h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    color: #101A2B;
}
.closeButton {
  position: relative;
  display: inline;
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.closeButton:hover {
    background-color: darkgray;
    display: inline;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


